<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="login-box">
    <div class="avatar">
      <img src="http://localhost:4200/assets/imagenes/icono_avatar.png" class="avatar" alt="Avatar Image">
    </div>
    <h1>Iniciar Sesion</h1>
    <form ngNoForm action="http://localhost:3001/users/validate" method="POST">
      <!-- USERNAME INPUT -->
      <div class="container">
        <label for="username">Username</label>
        <input id="user" name="user" type="text" placeholder="Ingrese el username">
        <!-- PASSWORD INPUT -->
        <label for="password">Contraseña</label>
        <input id="password" name="password" type="password" placeholder="Ingrese su contraseña">
        <input class="boton" type="submit" value="Entrar">
      </div>
      <div class="container" style="display:flex;flex-wrap: wrap;">
        <span><a href="#">Olvidaste la contrasena?</a></span>
        <span><a routerLink='/signup'>Registrate</a></span>
        <span><a routerLink='/'>atrás</a></span>
      </div>
    </form>
  </div>
</body>