<!--========================================================== -->
        <!--ENCABEZADO-->
        <!--========================================================== -->
        <header class="fusion-header-wrapper fusion-header-shadow">
            <div class="fusion-header-v1 fusion-logo-alignment fusion-logo-left fusion-sticky-menu- fusion-sticky-logo- fusion-mobile-logo-1  fusion-mobile-menu-design-modern">
                <!--<div class="fusion-header-sticky-height" style="height: 85px;"> </div>-->
                <div class="fusion-header">
                    <div class="fusion-row">
                        <div class="fusion-logo" data-margin-top="15px" data-margin-bottom="15px" data-margin-left="0px" data-margin-right="0px" style>
                            <a class="fusion-logo-link" href="">
                                <img src="assets/imagenes/logo.PNG" width="310" height="77.5" data-retina_logo_url class="fusion-standard-logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!--========================================================== -->
        <!--NAVIGATION-->
        <!--========================================================== -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menu">
            <div class="container px-5">
                <a class="navbar-brand" routerLink="/index">Inicio</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" routerLink="/nosotros">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/noticias">Nuestro Equipo</a></li>
                        <li class="nav-item"><a class="nav-link" href="index.html#practicas">Áreas prácticas</a></li>
                        <li class="nav-item"><a class="nav-link" href="blog-home.html">Noticias</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact.html">Contacto</a></li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="email" placeholder="Dinos qué buscas" aria-label="buscar">
                        <button class="btn btn-primary btn-primary-outline-success" type="button">buscar</button>
                    </form>
                </div>
            </div>
        </nav>