<mat-toolbar>
    <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="drawer.toggle()">
       <mat-icon>menu</mat-icon>
    </button>
    <span>Bienvenido Administrador</span>
  </mat-toolbar>
  
  <mat-drawer-container class="container-fluid" value="true">
    <mat-drawer #drawer value="side" class="pegaito">

        <button mat-stroked-button color="primary"  class="container-fluid espacio-boton" (click) = "drawer.close();">inicio</button><br>
        <button mat-stroked-button color="grey"  class="container-fluid espacio-boton" (click) = "drawer.close();">Reportes</button><br>
        <!--<button mat-stroked-button color="grey"  class="container-fluid espacio-boton" (click) = "drawer.close();mostrarEditarClientes();">Clientes</button><br>-->
        <button mat-stroked-button color="grey"  class="container-fluid espacio-boton" (click) = "drawer.close();">Agregar Productos</button><br>
        <a href="http://localhost:3001/users/logout"><button mat-stroked-button color="warn"  class="container-fluid espacio-boton" (click) = "drawer.close();">Log out</button></a><br>

       <!--aquí abajo se pueden agregar mas opciones--> 



    </mat-drawer>
    <mat-drawer-content>
      Aquí van las tablas y gráficas. Usar componentes para las gráficas <br>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
 
    </mat-drawer-content>
  </mat-drawer-container>
  
